* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: transparent;
  padding: 0 30px;
  min-width: 60%;
}
.container > h1 {
  color: #000000;
  margin: 20px 0;
  font-size: calc(24px + 16 * (100vw / 1280));
}
.container > p {
  color: #637381;
  margin: 0 auto;
  width: 70%;
}
.container > img {
  margin: 40px 0;
  max-width: 50%;
}
.container :last-child > button {
  border: none;
  color: white;
  background-color: #2065d0;
  padding: 15px;
  border-radius: 7px;
  font-weight: bold;
  font-size: 17px;
  cursor: pointer;
}
.container :last-child {
  display: block;
  margin: 0 auto;
  text-decoration: none;
}
.container > button:hover {
  background-color: #2f74db;
}
@media (max-width: 500px) {
  .container {
    width: 80%;
  }
  .container > p {
    font-size: 15px;
  }
  .container > h1 {
    font-size: 22px;
  }
  .container > img {
    max-width: 80%;
  }
}
@media (max-width: 425px) {
  .container > p {
    font-size: 13px;
    width: 100%;
  }
}
